* {
    text-align: center;
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
    color:#373737;
    font-size: 11pt;
}

body {
    background-color: whitesmoke;
}

.main_content {
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-style: ridge;
    background-color: #DDDDDD;
}

.header img {
    position: relative;
    top: 10px;
    right:15px;
    width: 100px;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}
.header p {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 32pt;
    margin-top: 0;
    /* below for inner font shadow */
    background-color: darkgreen;
    color: transparent;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h1 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 18pt;
    margin: 10px;
    color: #333333;
    background-color: #c3c3c3;
    border-style: solid;
    border-width: 1px;
    border-top-color: lightgray;
    border-left-color: lightgray;
    border-bottom-color: #999999;
    border-right-color: #999999;
}

p {
    margin: 0 20px;
    font-family:  sans-serif;
}

a:active, a:hover {
    background-color: #AAAAAA;
}

table {
    min-width: 300px;
    font-family: sans-serif;
    font-size:large;
    margin: auto;
    border: solid 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: lightgray;
    border-right-color: lightgray;
}

button {
    padding: 10px 50px;
    border: 0;
    border-radius: 10px;
    background-color: #c3c3c3;
    box-shadow: inset -2px -2px 2px #444444;
}
button:hover, button:active {
    background-color: #AAAAAA;
}
button:active {
    box-shadow: inset 2px 2px 2px #444444;
}

.icp_registration * {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color: #808080;
}
.icp_registration a:hover, .icp_registration a:active {
    background-color: transparent;
}
