* {
    text-align: center;
    font-family: sans-serif;
    color:#373737;
    font-size: 11pt;
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
}

body {
    background-color: whitesmoke;
}

.main_content {
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-style: ridge;
    background-color: #DDDDDD;
}

.header {
    padding: 0;
    margin: 0;
}
.header img {
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 10px;
    height:100px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}
.header div {
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: 5px;
    /* below for inner font shadow */
    font-weight: bolder;
    font-size: 32pt;
    background-color: darkgreen;
    color: transparent;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

hr {
    margin: 10px 0;
}

h1 {
    font-weight: bolder;
    font-size: 18pt;
    margin: 10px;
    background-color: #c3c3c3;
    border: solid 1px #AAAAAA;
}

p {
    margin: 0 5px;
}

table a {
    text-decoration: none;
    background-color: #c3c3c3;
    /* border: solid 1px #999999; */
    box-shadow: inset -1px -1px 1px gray;
    border-radius: 3px;
    padding: 2px
}
table a:active, table a:hover {
    background-color: #AAAAAA;
}
table a:active {
    box-shadow: inset 1px 1px 1px gray;
}

table, .textbox {
    padding: 2px;
    border: solid 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: lightgray;
    border-right-color: lightgray;
}

.textbox {
    /* display: inline-block; */
    margin: 0 10px;
    padding: 5px;
}

table {
    min-width: 300px;
    font-size:large;
    margin: auto;
    
}

button {
    padding: 10px 50px;
    border: 0;
    border-radius: 10px;
    background-color: #c3c3c3;
    box-shadow: inset -1px -1px 1px gray;
}
button:hover, button:active {
    background-color: #AAAAAA;
}
button:active {
    box-shadow: inset 1px 1px 1px gray;
}

.icp_registration * {
    text-align:center;
    color: gray;
}
.icp_registration a {
    border: none;
    display: inline-block;
    margin: 0 5px;
}
.icp_registration a:hover, .icp_registration a:active {
    background-color: transparent;
}
