/* defaults */
* {
    text-align: center;
    font-family: sans-serif;
    color:#373737;
    font-size: 11pt;
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
}
body {
    background-color: whitesmoke;
}

/* main area */
.main_content {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-style: ridge;
    background-color: #DDDDDD;
}
.column {
    vertical-align: top;
    display: inline-block;
    width: 375px;
    margin: 0 10px;
}
.section_header {
    font-weight: bolder;
    font-size: 18pt;
    margin: auto;
    background-color: #c3c3c3;
    border: solid 1px #AAAAAA;
}
.section {
    margin:10px;
}

/* header stuff */
.header {
    padding: 0;
    margin: 0;
}
.header img {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    height:110px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}
.header div {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    /* below for inner font shadow */
    font-weight: bolder;
    font-size: 32pt;
    background-color: darkgreen;
    color: transparent;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

/* for text boxes and tables */
table {
    min-width: 300px;
    font-size:large;
}
table a {
    text-decoration: none;
    background-color: #c3c3c3;
    /* border: solid 1px #999999; */
    box-shadow: inset -1px -1px 1px gray;
    border-radius: 3px;
    padding: 2px
}
table a:active, table a:hover {
    background-color: #AAAAAA;
}
table a:active {
    box-shadow: inset 1px 1px 1px gray;
}
table, .textbox {
    margin: auto;
    padding: 2px;
    border: solid 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    border-bottom-color: whitesmoke;
    border-right-color: whitesmoke;
}
.textbox {
    /* display: inline-block; */
    /* max-width: 400px; */
    padding: 5px;
}

/* general stuff */
hr {
    margin: 10px 0;
}
p {
    margin: 0 5px;
}

/* buttons */
button {
    padding: 10px 50px;
    border: 0;
    border-radius: 10px;
    background-color: #c3c3c3;
    box-shadow: inset -1px -1px 1px gray;
}
button:hover, button:active {
    background-color: #AAAAAA;
}
button:active {
    box-shadow: inset 1px 1px 1px gray;
}

/* icp registration section */
.icp_registration * {
    text-align:center;
    color: gray;
}
.icp_registration a {
    border: none;
    display: inline-block;
    margin: 0 5px;
}
.icp_registration a:hover, .icp_registration a:active {
    background-color: transparent;
}
